{% if g.base_layout %}{% extends g.base_layout %}{% else %}{% extends 'layout.html' %}{% endif %}

{% block title %}{{ g.title }}{% endblock %}

{% from "_layout_helpers.html" import left_column_spacer, form_column_class %}

{% block body %}
<div>
    {{ left_column_spacer() }}
    <form id="main-form" action="{{ g.editURL }}" method=post class="entry {{ form_column_class() }}" enctype="multipart/form-data">
		{% include "editFormButtons.html" %}
        {% block fieldset %}{% endblock %}
    </form>
</div>

{% if data and data.is_mobile_device %}
<!-- field must have class "keypad_input" for this to be displayed -->
{% include "keypad.html" %}
{% endif %}

{% endblock %}

{% block head %}
{{ super() }}

{% include 'travel_log/mapbox-header.html' %}

{% if data and data.is_mobile_device %}
<script src="{{ url_for('static', filename='keypad.js') }}"></script>
{% endif %}
<script>
    var map;
    var marker;

    function set_type(){
        $('#entry_type').val(this.text)
        $('#log_fields').show();
        $('.form_button_row').show();
        $('#choose_type').hide();
        set_cost_display();
        display_type(this.text);
        set_map_display();
    }
    function set_cost_display(){
        $('#cost-container').show();
        if($('#entry_type').val() != 'Departure'){
            $('#cost-container').hide();
        }
    }
    function set_map_display(){
        if(($('#entry_type').val() != '') && ($('#map').length )){
            // set the marker...
            $('#map').show();
            map = make_map("map");
            map.dragRotate.disable();
            marker = add_marker(map,$('#lng').val(),$('#lat').val(),$('#location_name').val())
            marker.setDraggable(true).on('dragend', onDragEnd);

        }else{
            $('#map').hide();
        }
    }
    function onDragEnd(){
        const lngLat = marker.getLngLat();
        $('#lng').val(lngLat.lng);
        $('#lat').val(lngLat.lat);
    }
    function display_type(which){
        $('#type_display').text(which); 
    }
    $(document).ready(function(){
        var entry_type = $('#entry_type').val();
        if (entry_type == ''){
            $('.form_button_row').hide();
            $('#log_fields').hide();
            $('.choose-type').on('click',set_type);
            let d = new Date().toLocaleString()
            $('entry_date').val(d)
        }else{
            $('#choose_type').hide();
        }
        set_cost_display();
        display_type(entry_type);
        // load photos if any
        if ($('#log_photo_list').length){
            load_photo_in_list({{ data.rec.id | safe }})
        }

        // Only get location if there is a place to put it.
        if (($("#map").length) && (navigator.geolocation)) {
            if (($("#id").val() == 0) || ($('#lat').val() == 0 )|| ($('#lng').val() == 0 )){
                // only for new records
                _onGetCurrentLocation();}
        }
        set_map_display();
    })

    function _onGetCurrentLocation () {
        const options = {
                enableHighAccuracy: true,
                timeout: 5000,
                maximumAge: 0
        };
        navigator.geolocation.getCurrentPosition( function (position) {
            //use coordinates
            $("#lat").val(position.coords.latitude);
            $("#lng").val(position.coords.longitude);                
        }, function (error) {
            console.error(error);
        }, options)
    }

</script>


{% endblock head%}

