<div id="sg-identity" class="w3-container w3-main menu_space" style="padding:2%;">
    <div class="w3-hide-small" style="max-width:120pt;">
        <a id="header_home" href="{{ url_for('travel_log.home') }}">
              <img 
              id="headerlogo" src="{{ url_for('static', filename='travel_log/images/header-logo.png') }}" 
              alt="Header image for Travel Log" >
        </a>
    </div>
    <div class="w3-hide-medium w3-hide-large" style="max-width:120pt;">
        <a id="small_header_home" href="{{ url_for('travel_log.home') }}">
              <img 
              id="headerlogo-small" src="{{ url_for('static', filename='travel_log/images/header-logo.png') }}" 
              alt="Header image for Travel Log" >
        </a>
    </div>

    <div class="site-header-name ">
        <h1 class="w3-xxxlarge" class="w3-xxxlarge" style="line-height:.9;margin-right:24pt;" ><a style="text-decoration:none;" href="{{ url_for('travel_log.home')}}">Travel Log</a></h1>
    </div>
</div>


