{% extends 'travel_log/layout.html' %}

{% block head %}
{{ super() }}
<style>
    h2, h3{
        text-align: center;
        margin:0;
    }

    #trip_name {
        cursor: pointer;
    }
    #login-section {
        text-align: center;

    }
    p#login {
        border:4pt solid skyblue;
    }
    p#login a{
        padding: 3pt 20pt;
    }
    #new-account {
        margin-top: 12pt;
    }
    #log-body-contain {
        width:90%;
        max-width:500pt;
        margin:20pt auto 10pt auto;
    }
   #trip-list-contain p {
         margin:0;
    }
    #trip-list-contain h4 {
        margin:3pt 0 0 0;
        border-top: black 2pt solid;
    }

    #home-trip-list {
        cursor: pointer;
    }

    table#home-trip-list {
        margin:auto;
    }
    
    .home-trip-head {
        font-weight: bold;
    }
    .memo {
        margin: 0 0 0 10pt;
    }
    .no_log, .no_trip {
        margin-top:6pt !important;
    }
    .more span:first-child {
        display:block;
        color:purple;
        font-weight: bold;
    }
    .more span:nth-child(2) {
        display:none;
    }
    #new_trip_button {
        position:relative;
        top:-50pt;
    }
    #trip_list_top_space {
        height:45pt;
    }

</style>

<script>
    function show_more(which) {
        $("#" + which + " span").toggle(500)
    }
</script>

{% endblock head %}


{% block body %}
<div id="log-body-contain" class="w3-container w3-mobile">
{% if not 'user' in session %}
    <div id="login-section">
        <h2>Welcome to Travel Log!</h2>
        <p id="login" class="w3-button w3-white w3-round-large w3-large"><a href="{{ url_for('travel_log.login') }}" >Sign in</a></p>
        <p id="new-account"><a href="{{ url_for('travel_log.new_account') }}" >Create an Account</a></p>
        
    </div>
{% else %}
    <p id="trip_list_top_space" class="w3-hide-small w3-hide-medium" >&nbsp</p>
    <div id="trip-list-contain" >
        <div id="new_trip_button" >
            <p><a class="w3-btn w3-circle w3-xlarge w3-right w3-secondary-color " href="{{ url_for('.add_log')}}" ><strong>&plus;</strong></a></p>
        </div>
        <h2  class="w3-primary-color" >Your Current Trip</h2>
        {% if data.trip %}
        <div id="trip-list-contain" >
            <h3 id="trip_name" class="w3-secondary-color"  title="Click to edit Trip" onclick="window.location='{{url_for("travel_log.edit_trip")}}{{data.trip.id}}/?next={{ g.listURL }}'">{{data.trip.name}}</h3>
            {% if data.log_entries %}
            <p><strong>Your Ride: </strong>{{ data.log_entries[0].vehicle | default('??',True)}}</p>
            {% for rec in data.log_entries %}
            <div id="home-trip-list" >
                <div  onclick="window.location='{{url_for("travel_log.edit_log")}}{{rec.id}}/?next={{ g.listURL }}'">
                    <div class="w3-row w3-row-padding" >
                        <h4 class="w3-col  m8 l8 s8" ><strong>Where:</strong> {{rec.location_name}}</h4>
                        <h4 class="w3-col  m4 l4 s4" >{{ rec.entry_date | short_abbr_date_string }}, {{ rec.entry_date | local_time_string}}</h4>
                    </div>
                    <div class="w3-row w3-row-padding" >
                        <p class="w3-col m8 l8 s8"><strong>Log Type:</strong> {{ rec.entry_type}}</p>
                        {% if rec.distance != None %}
                        <p class="w3-col m4 l4 s4"><strong>Dist.:</strong> {{ rec.distance }}mi.</p>
                        {% endif %}
                    </div>
                </div>
                    {% if rec.memo %}
                    <div id="log_memo_contain" >
                        <div class="w3-row w3-row-padding memo " >
                            <p id="log_memo_{{ rec.id }}" class="w3-col log_memo more" onclick="show_more('log_memo_{{ rec.id }}')">{{ rec.memo | more | sanitize  | safe }}</p>
                        </div>
                    </div>
                   {% endif %}
                </div>
            {% endfor %}
        </div>
            {% else %}
                <p class="no_log" >No Log Entires Yet... <a href="{{url_for("travel_log.edit_log")}}0/?next={{ g.listURL }}" class="w3-button w3-round w3-primary-color" >Add Entry</a></p>
            {% endif %}
        {% else %}
            <p class="no_trip">
                You are not currenly on a Trip. 
                <a href="{{url_for("travel_log.edit_trip")}}0/?next={{ g.listURL }}" class="w3-button w3-round w3-primary-color" >Start a Trip?</a>
            </p>
        {% endif %}
    </div>
{% endif %}
</div>
{% endblock body %}