{% extends 'travel_log/layout.html' %}

{% block head %}
{{ super() }}
<style>
    h2, h3, p {
        text-align: center;
    }

    #trip_name {
        cursor: pointer;
    }
    #login-section {
        text-align: center;

    }
    p#login {
        border:4pt solid skyblue;
    }
    p#login a{
        padding: 3pt 20pt;
    }
    #new-account {
        margin-top: 12pt;
    }
    #log-body-contain {
        width:90%;
        max-width:500pt;
        margin:20pt auto 10pt auto;
    }
    #trip-list-contain {
        border:black solid 2pt;
        width:90%;
        margin: auto;
        height: 400px;
        scroll-behavior: auto;
    }
    table#home-trip-list, table#home-trip-list td.trip-row{
        border-bottom: #666;
        border-bottom-width: 1pt;
        border-bottom-style: solid;
        border-collapse: collapse;
        padding:3pt;
    }
    table#home-trip-list td.trip-row p {
        cursor: pointer;
    }

    table#home-trip-list {
        margin:auto;
    }
    
    .home-trip-head {
        font-weight: bold;
    }

</style>

{% endblock head %}


{% block body %}
<div id="log-body-contain" class="w3-container ">
{% if not 'user' in session %}
    <div id="login-section">
        <h2>Welcome to Travel Log!</h2>
        <p id="login" class="w3-button w3-white w3-round-large w3-large"><a href="{{ url_for('travel_log.login') }}" >Sign in</a></p>
        <p id="new-account"><a href="{{ url_for('travel_log.new_account') }}" >Create an Account</a></p>
        
    </div>
{% else %}
    <div id="trip-list-contain" >
        <h2>Your Current Trip</h2>
        {% if data.trip %}
            <h3 id="trip_name" title="Click to edit Trip" onclick="window.location='{{url_for("travel_log.edit_trip")}}{{data.trip.id}}/?next={{ g.listURL }}'">{{data.trip.name}}</h3>
            {% if data.log_entries %}
                <table id="home-trip-list">
                {% for rec in data.log_entries %}
                    <tr onclick="window.location='{{url_for("travel_log.edit_log")}}{{rec.id}}/?next={{ g.listURL }}'" >
                        <td>&nbsp;</td>
                        <td class="trip-row" ><p>{{ rec.location_name}}</p></td>
                        <td class="trip-row" ><p>{{ rec.entry_type}}</p></td>
                        <td class="trip-row" ><p>{{ rec.entry_date | local_time_string }}</p></td>
                    </tr>
                {% endfor %}
                </table>
            {% else %}
                <p>No Log Entires Yet... <a href="{{url_for("travel_log.edit_log")}}0/?next={{ g.listURL }}" class="w3-button w3-round w3-primary-color" >Add Entry</a></p>
            {% endif %}
        {% else %}
            <p>
                You are not currenly on a Trip. 
                <a href="{{url_for("travel_log.edit_trip")}}0/?next={{ g.listURL }}" class="w3-button w3-round w3-primary-color" >Start a Trip?</a>
            </p>
        {% endif %}
    </div>
{% endif %}
</div>
{% endblock body %}