{% extends 'travel_log/layout.html' %}

{% block head %}
{{ super() }}
<style>
    #log-body-contain h2, #log-body-contain h3{
        text-align: center;
    }

    #trip_name {
        cursor: pointer;
    }
    #login-section {
        text-align: center;
    }
    p#login {
        border:4pt solid skyblue;
    }
    p#login a{
        padding: 3pt 20pt;
    }
    #new-account {
        margin-top: 12pt;
    }
    #log-body-contain {
        width:90%;
        max-width:500pt;
        margin: auto;
    }
    div.log_title_row {
        margin-top:2pt;
    }

    .log_title_row h4, .log_title_row p {
        margin:3pt 0 0 0;
        border-top: black 2pt solid;
    }

    #home-trip-list {
        cursor: pointer;
    }

    .home-trip-head {
        font-weight: bold;
    }
    .memo {
        margin: 2pt 10pt;
        background-color:lightcyan;
    }
    .no_log, .no_trip {
        margin-top:6pt !important;
    }
    .more span:first-child {
        display:block;
        color:purple;
        font-weight: bold;
    }
    .more span:nth-child(2) {
        display:none;
    }
    #new_log_button {
        position:relative;
        top:-10pt;
		text-align: right;
    }
    #trip_stats_left {
        float:left;
    }
    #trip_stats_right {
        text-align: right;
    }

    @media (prefers-color-scheme: dark) {
        .memo {
            background-color: rgb(74, 112, 209);
            color:white
        }
        .more span:first-child {
            color:rgb(180, 189, 236);
        }
    }

</style>
{% include 'travel_log/mapbox-header.html' %}
<link rel="stylesheet" href="{{ url_for('static', filename='travel_log/mapbox-styles.css' )}}">

<script src="{{ url_for('static', filename='travel_log/mapbox.js') }}"></script>

<script>
    async function setWayPoint(location){
        if((currentLocError == false) && (currentLat != undefined ) && (currentLng != undefined)){
            location = {"lat":currentLat,"lng":currentLng,"trip_id":globalTripID}

            // send it to the server
            const query = await fetch(
            `{{config["HOST_PROTOCOL"]}}://{{config["HOST_NAME"]}}/travel_log/log_entry/log_waypoint/`+ JSON.stringify(location),
            { method: 'GET' }
            );
            const response = await query;
            //alert(response);
        }

    }
    function waypointHandler(){
        setWayPoint();
    }

    //let waypointer = setInterval(waypointHandler,60000);

    let globalCoords;
    let globalTripID = 1;

    function show_more(which) {
        $("#" + which + " span").toggle(500)
    }
    function onMapClick(e) {
        // alert("You clicked the map at " + e.lngLat.lng + "," + e.lngLat.lat);
        //marker = add_marker(map,e.lngLat.lng,e.lngLat.lat);
        //setWayPoint({"lat":e.lngLat.lat,"lng":e.lngLat.lng,"trip_id":globalTripID})
        //globalCoords.splice(1,0, [e.lngLat.lng,e.lngLat.lat])
        ////updateRoute(globalCoords)
    }


    function create_map() {
        map = make_map("map",map_center);
        map.dragRotate.disable();
        map.on('click', onMapClick);
        $('#map').show();
    }
    // coords = {'points':['geometry':{'coordinates':[-121.6, 38.8],},'properties':{'title':'Coffee Works'}],'match_path':[[-121.6, 38.8],[-121.6, 38.8]]}
    function set_markers(coords){
        // add the set_markers
        for (const point of coords.points){
            marker = add_marker(map,point.geometry.coordinates[0],point.geometry.coordinates[1],'<p class="w3-bold w3-large w3-center" >'+point.properties.entry_type+'<br>'+point.properties.title+'</p>');
            if (point.properties.entry_type == 'POI'){
                marker.addClassName('marker-POI');
            } else if (point.properties.entry_type == 'ARR'){
                marker.addClassName('marker-ARR');
            } else if (point.properties.entry_type == 'DEP'){
                marker.addClassName('marker-DEP')
            } else {
                marker.addClassName("marker-WAY");
            }
        }
        // fit the map to the markers
        map.fitBounds(map_bounds);
    }


    function get_map_bounds(coords) {
        const nudge = .025; // how much space at edges
        // get the ne most and se most points
        let _ne =[-180,-90];
        let _sw = [180,90];
        for (var loc of globalCoords){
            if(loc[0]>_ne[0]){_ne[0]=loc[0];}
            if(loc[1]>_ne[1]){_ne[1]=loc[1];}
            if(loc[0]<_sw[0]){_sw[0]=loc[0];}
            if(loc[1]<_sw[1]){_sw[1]=loc[1];}
        }
        const bounds = new mapboxgl.LngLatBounds(_sw,_ne);
        const ne = bounds.getNorthEast();
        ne.lat = ne.lat + (nudge * (Math.abs(ne.lat)/90));
        ne.lng = ne.lng + nudge;
        bounds.setNorthEast(ne);
        const sw = bounds.getSouthWest();
        sw.lat = sw.lat - (nudge * (Math.abs(sw.lat)/90));
        sw.lng = sw.lng - nudge;
        bounds.setSouthWest(sw);

        return bounds;
    }


    function updateRoute(coords) {
        removeRoute(); // Overwrite any existing layers

        const profile = 'driving'; // Set the profile
         // Set the radius for each coordinate pair to 25 meters
        const radius = globalCoords.map(() => 50);
        // Format the coordinates
        newCoords = globalCoords.join(';');
        // matching only seems to work for very short distances for me...
        getMatch(newCoords, radius, profile);
      }

      // Make a Map Matching request
      async function getMatch(coordinates, radius, profile) {
        // Separate the radiuses with semicolons
        const radiuses = radius.join(';');
        // Create the query
        const query = await fetch(
          `https://api.mapbox.com/matching/v5/mapbox/${profile}/${coordinates}?geometries=geojson&radiuses=${radiuses}&steps=false&access_token=${mapboxgl.accessToken}`,
          { method: 'GET' }
        );
        const response = await query.json();
        // Handle errors
        if (response.code !== 'Ok') {
            if(response.message !== "All coordinates are too far away from each other")
            {
            alert(
                `${response.code} - ${response.message}.\n\nFor more information: https://docs.mapbox.com/api/navigation/map-matching/#map-matching-api-errors`
            );
            }
          return;
        } else {
            // Draw the route on the map
            addRoute(response.matchings[0].geometry);
        }

      }

      // Draw the Map Matching route as a new layer on the map
      function addRoute(coords) {
        // If a route is already loaded, remove it
        /*
        if (map.getSource('route')) {
          map.removeLayer('route');
          map.removeSource('route');
        } else {
         */
          map.addLayer({
            'id': 'route',
            'type': 'line',
            'source': {
              'type': 'geojson',
              'data': {
                'type': 'Feature',
                'properties': {},
                'geometry': coords
              }
            },
            'layout': {
              'line-join': 'round',
              'line-cap': 'round'
            },
            'paint': {
              'line-color': '#03AA46',
              'line-width': 8,
              'line-opacity': 0.8
            }
          });
        }
      //}

      // If the user clicks the delete draw button, remove the layer if it exists
      function removeRoute() {
        if (!map.getSource('route')) return;
        map.removeLayer('route');
        map.removeSource('route');
      }
   
    function _setCurrentLoc(position){
        //use coordinates
        currentLat = position.coords.latitude;
        currentLng = position.coords.longitude;
        currentLocError = false
        $('#geoLng').html(currentLng);
        $('#geoLat').html(currentLat);
        setWayPoint();
    }

    const geoWatchID = navigator.geolocation.watchPosition((position) => {
        _setCurrentLoc(position);
    });

    function getCurrentLocation () {
        const options = {
                enableHighAccuracy: true,
                timeout: 5000,
                maximumAge: 0
        };
        if ('geolocation' in navigator) {
            navigator.geolocation.getCurrentPosition( _setCurrentLoc,
         function (error) {
            console.error(error);
            currentLocError = true
        }, options)
        } else {
            console.log("Geolocation is not supported by this browser.");
        }
    }


    var map;
    var marker;
    var map_bounds;
    var map_center;
    let currentLat, currentLng, currentLocError;
    currentLocError = false;

    $(document).ready(function (){
        var coords = {{ data.coords | safe }};
        globalCoords = [];
        for (const point of coords.points){
            globalCoords.push(point.geometry.coordinates)
        }
        globalTripID = coords.points[0].properties.trip_id
        map_bounds = get_map_bounds(coords);
        map_center = map_bounds.getCenter()
        create_map(map_center);
        // match the route to the roads
        updateRoute(coords);
        set_markers(coords);
        //getCurrentLocation();
        setWayPoint();
    })
</script>


{% endblock head %}


{% block body %}
<div id="log-body-contain" class="w3-mobile">
{% if not 'user' in session %}
    <div id="login-section">
        <h2>Welcome to Travel Log!</h2>
        <p id="login" class="w3-button w3-white w3-round-large w3-large"><a href="{{ url_for('travel_log.login') }}" >Sign in</a></p>
        <p id="new-account"><a href="{{ url_for('travel_log.new_account') }}" >Create an Account</a></p>
        
    </div>
{% else %}
    <div id="trip-list-contain " >
        {% if data.trip %}
        <div id="new_log_button" >
            <p class="w3-hide-medium w3-hide-small " style="height:20pt;">&nbsp;</p>
            <p><a class="w3-btn w3-circle w3-xlarge w3-primary-color " href="{{ url_for('.add_log')}}" ><strong>&plus;</strong></a></p>
        </div>
        <div id="trip-list-contain" >
            <h3 id="trip_name" class="w3-primary-color"  title="Click to edit Trip" onclick="window.location='{{url_for("travel_log.edit_trip")}}{{data.trip.id}}/?next={{ g.listURL }}'">{{data.trip.name}}</h3>
            {% if data.log_entries %}
            <div id="trip_stats_left" >
                <p><strong>Car: </strong>{{ data.log_entries[0].vehicle_name | default('??',True)}}</p>
            </div>
            <div id="trip_stats_right" >
            </div>
            <div class="w3-row" >
                <p class="w3-col m3 l3 s6"><strong>Dist:</strong> {{ data.log_entries[0].trip_distance }}mi.</p>
                <p class="w3-col m3 l3 s6"><strong>Eff:</strong> 
                    {% if data.trip_consumption > 0%}
                    {{ (data.log_entries[0].trip_distance / data.trip_consumption) | round(2) }}{{ data.log_entries[0].efficiency_factor }}</p>
                    {% else %}
                    0
                    {% endif %}
                <p class="w3-col m3 l3 s6"><strong>kWh:</strong> {{ data.trip_consumption | round(2) }}</p>
                <p class="w3-col m3 l3 s6"><strong>Cost:</strong> {{ data.log_entries[0].trip_fuel_cost | default(0,True) | money('$') }}</p>
            </div>
        <div id="home-trip-list" >
        {% for rec in data.log_entries %}
            {% if rec.entry_type != "WAY" %}
                <div  onclick="window.location='{{url_for("travel_log.edit_log")}}{{rec.id}}/?next={{ g.listURL }}'">
                    <div class="log_title_row w3-row w3-row-padding w3-secondary-color" >
                        <h4 class="w3-col  m8 l8 s8" ><span style="font-size:small;">({{ rec.entry_type | truncate(3,True,'',0) | upper }})</span> {{rec.location_name}}</h4>
                        <p class="w3-col  m4 l4 s4 w3-right-align" >{{ rec.entry_date | short_abbr_date_string }}, {{ rec.entry_date | local_time_string}}</p>
                    </div>
                    <p class="w3-row-padding"><strong>Dist:</strong> {{ rec.leg_distance }}mi.</p>
                    <div class="w3-row w3-row-padding" >
                        <p class="w3-col m3 l3 s6"><strong>Eff:</strong> {{ rec.leg_efficiency | round(2) }}{{ rec.efficiency_factor }}</p>
                        <p class="w3-col m3 l3 s6"><strong>SOC:</strong> {{ rec.state_of_charge | default(0,True) }}%</p>
                        <p class="w3-col m3 l3 s6"><strong>kWh:</strong> {{ rec.consumption | round(2) | default(0,True) }}</p>
                        <p class="w3-col m3 l3 s6"><strong>Cost:</strong> {{ rec.cost | default(0,True) | money('$') }}</p>
                    </div>
                </div>
                    {% if rec.memo %}
                    <div id="log_memo_contain" >
                        <div class="w3-row w3-row-padding memo " >
                            <p id="log_memo_{{ rec.id }}" class="w3-col log_memo more" onclick="show_more('log_memo_{{ rec.id }}')">{{ rec.memo | more | sanitize  | safe }}</p>
                        </div>
                    </div>
                   {% endif %}
                {% endif %}
            {% endfor %}
            </div>
            <div id="loc" class="w3-row w3-row-padding">
                <p class="w3-col m3 l3 s6">Current Longitude</p>
                <p id="geoLng" class="w3-col m3 l3 s6">Unknown</p>
            </div>
            <div id="loc" class="w3-row w3-row-padding">
                <p class="w3-col m3 l3 s6">Current Latitude</p>
                <p id="geoLat" class="w3-col m3 l3 s6">Unknown</p>
            </div>
            <div id="map" class="map"></div>
            
        </div>
            {% else %}
                <p class="no_log" >No Log Entires Yet...</br> <a href="{{url_for('travel_log.edit_log')}}0/?next={{ g.listURL }}" class="w3-button w3-round w3-primary-color" >Add Entry</a></p>
            {% endif %}
        {% else %}
            <p class="no_trip">
                You are not currenly on a Trip.<br/>
                <a href="{{url_for('travel_log.edit_trip')}}0/?next={{ g.listURL }}" class="w3-button w3-round w3-primary-color" >Start a Trip?</a>
            </p>
        {% endif %}
    </div>
{% endif %}
</div>
{% endblock body %}