    <!-- Mapbox -->
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v3.3.0/mapbox-gl.js"></script>
    <script>
      mapboxgl.accessToken = '{{ site_config.MAPBOX_ACCESS_CODE }}';
    </script>

    <link
      href="https://api.tiles.mapbox.com/mapbox-gl-js/v3.3.0/mapbox-gl.css"
      rel="stylesheet"
    />
    <script src="{{ url_for('static', filename='travel_log/travel_log.js') }}"></script>
    <script src="{{ url_for('static', filename='travel_log/mapbox.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='travel_log/mapbox-styles.css' )}}">
    
    