<div id="sg-identity" class="w3-container w3-main menu_space" style="padding:2%;">
    <div class="w3-quarter w3-hide-small" style="max-width:120pt;">
        <a id="header_home" href="{{ url_for('travel_log.home') }}">
              <img 
              id="headerlogo" src="{{ url_for('static', filename='images/header-logo.png') }}" 
              alt="Header image for Travel Log" >
        </a>
    </div>
    <div class="w3-hide-medium w3-hide-large" style="max-width:120pt;">
        <a id="small_header_home" href="{{ url_for('travel_log.home') }}">
              <img 
              id="headerlogo-small" src="{{ url_for('static', filename='images/header-logo.png') }}" 
              alt="Header image for Travel Log" >
        </a>
    </div>

</div>


