/* image_styles.css */


img.log_photo_small {
    position:relative;
    padding:3px;
    width:120px;
}
.log_photo_small_delete {
    position:absolute;
    text-align: right;
    top:2pt;
    right:3pt;
    z-index:500;
    
    background-color:#4b9becba;
    color:white;
    font-weight:bold;
    padding:2px;
    cursor:pointer;
}
.photo_contain {
    float:left;
    position:relative;

}
#large_photo_contain, #log_photo_large {
    position: relative;
    height:400px;
    max-width: 100%;
    display:none;
}

#log_photo_large {
    position:absolute;
    top:0;
    margin:0 auto;
    /* left:0; */
    /* max-width:100%;
    max-height: 400px; */
    display:none;
}
#log_edit_photo {
    display:block;
    width:100%;
}

#log_photo_large_title {
    position:absolute;
    width:100%;
}

div#log_photo_large_title h3, div#log_photo_large_title p {
    color:white;
    background-color:#666666af;
    size:2em;
    text-align: center;
}

div#log_photo_large_title h3 {
    size:3em;
    font-weight: bold;
}

@media (max-width: 375px) {
    #large_photo_contain, #log_photo_large {
        height:200px;
    }
}