#map, .map {
  height:400px;
  width:100%;
  border:black 1pt solid;
  }
@media (max-width:400px) {
  .map {
    height:200px;
  }
}
  .marker, maker-DEP .marker-ARR,.marker-POI{
    background-image: url('/static/travel_log/images/car_logo_blue.png') !important;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255,255,255,.5);
    border:solid .5pt #666;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
  }
  .marker-ARR {
      background-image: url('/static/travel_log/images/car_logo_red.png') !important;
  }
  .marker-POI {
    background-image: url('/static/travel_log/images/car_logo_green.png') !important;
  }
  .mapboxgl-popup {
    max-width: 200px;
  }
  
  .mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color:black;
    background-color:white;
  }
  @media (prefers-color-scheme: dark) {
    .mapboxgl-popup-content {
      background-color:black;
      color:white;
    }
    .mapboxgl-popup-close-button {
      color:white;
    }
  }